# Auto detect text files and perform LF normalization
# Update Git Attribute File
*.java linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.makefile linguist-detectable=false